body {
        margin: 0px;
        padding: 0px;
	font-family:'trebuchet ms',helvetica,sans-serif;
}

div.imagecollection_sidebar {
        background-color: #666666;
        border-right: 2px solid black;
        border-bottom: 2px solid black;
        font-size: 11pt;
        position: absolute;
        left: 0px;
        top: 0px;
        padding: 1em;
        padding-left: .5em;
        padding-top: .5em;
        width: 125px;
        height: 600px;
}

div.imagecollection_sidebar ul {
        margin: 0px;
        padding: 0px;
}
div.imagecollection_sidebar ul li {
        list-style: none;
}

div.imagecollection_sidebar a {
        color: white;
        text-decoration: none;
        font-weight: bold;
}

div.imagecollection_sidebar a:hover {
        color: black;
        text-decoration: underline;
        font-weight: bold;
}

div.imagecollection_previews {
        padding: 1em;
        margin-bottom: 30px;
        margin-left: 135px;
        text-align: center;
}

div.scroller {
        width: 650px;
        /*height: 415px;
        overflow: auto;*/
}

div.imagecollection_previews table tr td {
        text-align: center;
        border: 1px solid #666;
        font-size: 10px;
        padding: 5px;
}

div.imagecollection_previews table tr td a {
        text-decoration: none;
        color: darkblue;
        font-weight: bold;
}

div.imagecollection_upload {
        background-color: #999;
        border-top: 2px solid black;
        border-left: 2px solid black;
        padding: .2em;
        text-align: right;
        font-size: 11px;
        position: fixed;
        bottom: 0;
        right: 0px;
        height: 30px;
}

div.imagecollection_previews table tr td img {
        border: 1px solid white;
}

div.imagecollection_previews table tr td#highlight img {
        background-color: #CCC;
        border: 6px solid black;
}

div.imagecollection_previews table tr td:hover img {
        /*border: 1px solid black;*/
        border: 2px solid #85AC1E;
}

div.image-info {
	display: none;
        background-color: #999;
        border-top: 2px solid black;
        border-left: 2px solid black;
        padding: .2em;
        text-align: left;
        font-size: 14px;
        position: fixed;
        bottom: 0;
        right: 0px;
        width: 647px;
        height: 120px;
}

div.image-info h2 {
        margin: 0px 0px 2px 2px;
        padding: 0;
}

#image-info {
}

#resize-form {
        display:none;
}

#edit-form {
        display:none;
}

#panelDiv {
	display: none;
        position:relative;
        height: 300px;
        width: 300px;
        top:80px;
        left:105px;
        border:1px solid #333333;
        background-color: #f7f7f7;
}

#handleDiv {
	display: none;
        position: absolute;
        bottom:0px;
        right: 0px;
        width:10px;
        height:10px;
        background-color:blue;
	font-size: 1px;
}

#img-wid {
	width: 45px;
	float: left;
}

#img-hgt {
	width: 45px;
	float: left;
}

.height-label {
	float: left;
	margin-right: 4px;
	font-style: bold;
}

.width-label {
	float: left;
	margin-right: 4px;
	font-style: bold;
}

.width-px {
	float: left;
	margin-right: 25px;
}

.height-px {
	float: left;
	margin-right: 25px;
}

.constraint-label {
	clear: left;
	float: left;
}

#keep-ration {
	float:left;
}

.submit {
	color: blue;
	font-family:'trebuchet ms',helvetica,sans-serif;
   	font-size:84%;
   	font-weight:bold;
	background-color:#f7f7f7;
	border:1px solid;
	border-top-color:#696;
   	border-left-color:#696;
   	border-right-color:#363;
   	border-bottom-color:#363;
}


