body,div {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
}

div.main {
	padding: 20px;
	width: 400px;
	border: 1px solid rgb(97,115,132);
	text-align: left;
}

div.logo {
	margin-bottom: 20px;
	width: 506px;
}


a {
	text-decoration: none;
	font-weight: bold;
	font-size: 10px;
	color: rgb(97,115,132);
	border-bottom: 1px dashed rgb(97,115,132);
}