#menu {
	width: 100%;
	float:left;
	height: 35px;
}

#menu ul {
	list-style: none;
	margin:0;
	padding: 0;
}

#menu a, #menu h6 {
	font: bold 13px arial, helvetica, sans-serif;
	display: block;
	margin: 0;
	padding: 2px 15px;
}

#menu h6 {
	color: #FFFFFF;
}

#menu a {
	color: #4B763D;
	text-decoration: none;
	border:none;
	padding-top: 8px;
	padding-bottom: 9px;
	padding-left: 12px;
	padding-right: 4px;
}

#menu a:hover {
	color: #000000;
	border:none;
}

#menu li {
	position:relative;
	float: left;
	text-align:center;
	width:0% !;
}

#menu li li {
	position:relative;
	float: left;
	text-align:left;
	border-left:1px solid #669933;
	border-bottom:1px solid #8fb82e;
	border-right:1px solid #8fb82e;
	background:#a9d147;
	background-image: url(images/00-submenubackgr.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	padding: 0px;
	width: 130px;
	margin: 0px;
}

#menu li li a {
	font-weight:normal;
	border-bottom:0px dotted #D9F266;
	font-size: 11px;
	background-image: url(images/arrowsub3.gif);
	background-repeat: no-repeat;
	background-position: left center;
	margin-left: 5px;
}

#menu li li a:visited {
	font-weight:normal;
	border-bottom:0px dotted #D9F266;	
	font-size: 11px;
}
#menu li li a:hover {
	color: #fff;
	border-top:0px dotted #D9F266;
	border-bottom:0px dotted #D9F266;
	border-left: 0px solid #669933;
}

#menu ul ul {
	position: absolute;
  z-index: 500;
  width: 1px; /* if this isn't here, the drops get laidout horiz instead of vert in Moz browsers*/
}

#menu ul ul ul {
	position: absolute;
	top: 0;
	left: 100%;
}

#menu ul ul {
	display: none;
}

#menu ul ul, #menu ul li:hover ul ul, #menu ul ul li:hover ul ul {
	display: none;
}

#menu ul li:hover ul, #menu ul ul li:hover ul, #menu ul ul ul li:hover ul {
	display: block;
	background:#a9d147;
}
