.moduleactions ul,
.moduleactions ul li {
	padding:0;
	margin:0;
	list-style:none;
}
.modulepermissions {
	border:1px dotted #999999;
	padding:2px;
	margin-bottom:5px;
}
.modulepermissions img {
	padding:0;
	margin:0;
	border:none;
}


