/* Container Styles */

div.containermodule{
	border:1px solid #777777;
	clear:both;
	padding:1px;
}

.container_modulewrapper{
	border:1px solid #999999;
	clear:both;
}


div.container_editheader{
	border:1px dotted #999999;
	padding: 4px;
	background-color: #ccc;
	font-size: 8pt;
	color: #000000;
	clear:both;
	overflow:hidden;
}

.container_editheader .perms{
	float:right;
}

div.container_box {
	padding: 0px;
	margin: 0px;
}
.container_moduleheader .perms{
	float:right;
}

.container_moduleheader {
	border:1px dotted #999999;
	padding: 4px;
	font-size: 8pt;
	color: #000000;
	clear:both;
	overflow:hidden;
	background:#8888cc;
}


a.addmodule img{
	margin:3px 0 0 0;
}
a.addmodule span.addtext{
	vertical-align:middle;
	padding:0 0 0 20px;
	background:url("../images/icons/add.png") no-repeat;
}
a.addmodule{
	display:block;
	background:#ccc;
	clear:both;
	margin:2px 0px;
	padding:5px 0;
	float:left;
	width:100%;
	text-align:center;
	text-decoration:none;
	color:blue;
}
a.addmodule:hover{
	display:block;
	background:#333;
	clear:both;
	margin:2px 0px;
	float:left;
	width:100%;
	text-align:center;
	text-decoration:none;
	color:white;
}


