/** New Tab style of interface for Nav manager **/
td.tab_btn {
        border: 1px solid black;
        border-right: 0px solid black;
        background-color: #DDD;
        padding: .5em;
}

td.tab_btn_last {
}

td.tab_spacer {
        border-bottom: 1px solid black;
        border-left: 1px solid black;
}

td.tab_btn_current {
        background-color: inherit;
        border-bottom: 0px solid black;
}

td.tab_main {
        padding: .5em;
        border: 1px solid black;
        border-top: 0px solid black;
}
