.newsmodule .moduleactions .addnews{
	padding:2px 0 2px 20px;
	background:url(../images/icons/addnews.png) no-repeat 0 50%;
}

.newsmodule .moduleactions .expirednews{
	padding:2px 0 2px 20px;
	background:url(../images/icons/expirednews.png) no-repeat 0 50%;
}
