.slideshowmodule .moduleactions {
	border:1px dotted #999999;
	padding:2px;
	margin-bottom:5px;
}

.slideshowmodule .moduleactions .manageslides{
	padding:2px 0 2px 20px;
	background:url(../images/icons/manageslides.png) no-repeat 0 50%;
}

