/* imagegallerymodule slideshowview - simple with thumbnails in horizontal position, no background images or frames */
/* This vies uses all the default CSS except these attributes */
/* Slideshow customized for coolwater theme imagegallery pics */
.slideshowwrapper {	/* the height is the sum of the show + thumbnails + margins */
	height: 750px; /* if the slideshow is the longest column in a theme it may need a height */
}

.slideshow {		/* width is set to width of background image or frame, or if there's none to width of pictures */
	width: 515px;	/* width is the same as pictures, we have no background image or frame around */
	height:388px;	/* height of pictures, also no additional frame space here */
}

.slideshow-thumbnails {
	bottom: -90px;	/* height of thumbnails as configured in the module settings + padding top and bottom */
	height: 90px;	/* height of thumbnails as configured in the module settings + padding top and bottom */
}

.slideshow-images {
	width: 515px;	/* width of picture as configured in the module settings */
	height: 388px;	/* height of tallest picture */ 
}
