div.weblogmodule a.readmore {
	padding-left: 20px;
        background-image: url(../images/icons/readmore.gif);
	background-repeat: no-repeat;
}

div.weblogmodule a.comments {
	padding-left: 20px;
        background-image: url(../images/icons/comments.gif);
	background-repeat: no-repeat;
}

div.weblogmodule .attribution {
	font-weight: bold;
}

