
g_moduletitle {
  color: #0060b6;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

div.weblog_moduletitle {
  color: #0060b6;
  font-size: 12px;
  font-weight: bold;
}

hr.weblog_moduletitle {
  color: #0060b6;
  background-color: #0060b6;
  height: 1px;
  width: 100%;
  margin-bottom: 5px;
}

.weblog_itemtitle {
  color: #0060b6;
  font-weight: bold;
  font-size: 14px;
}

h1.weblog_itemtitle {

}

div.weblog_itemtitle {
  text-align: left;
  margin-bottom: 10px;
}

a.weblog_mngmntlink {
  color: #0060b6;
  text-decoration: none;
}

a.weblog_monthview_mngmntlink {
  margin-left: 10px;
}

a:hover.weblog_mngmntlink {
  color: #399cc6;
}

div.weblog_subheader {
        font-weight: bold;
}

div.weblog_comment_odd {
  background-color: #eeeeee;
  border-top: 1px solid #0060b6;
  border-bottom: 1px solid #0060b6;
  padding: 10px;
}

div.weblog_comment_even {
  padding: 10px;
}

div.weblog_comment_body {
  font-size: 10px;
  margin-bottom: 15px;
  text-align:left;
}

div.weblog_comment_attribution {
  text-align:left;
}

div.weblog_comment_title {
  font-size: 10px;
  text-align:left;
}

div.comments {
  text-align: right;
  font-size: 10px;
  margin-bottom: 30px;
}
