/* Search Module */

div.search_result_item {
  margin-bottom: 15px;
  margin-top: 10px;
}

div.search_result_item a {
  color: blue;
  text-decoration: underline;
  font-size: 12px;
}

span.search_result_item_body {
  font-size: 10px;
}

span.search_result_item_link {
  color: #008000;
}

span.search_results_excludes {
  font-style: italic;
}

div.search_results_options {
  width: 85%;
  border-bottom: 1px solid black;
  text-align: left;
  vertical-align: bottom;
  margin-bottom: 25px;
}

div.search_results_title {
  font-size: 14px;
  font-weight: bold;
}

div.search_result_cat {
  font-size: 12px;
  font-weight: bold;
  border-bottom: 1px solid black;
  margin-top: 20px;
}
