.faqmodule .listings  {
	display: block;
	padding:5px;
	width:100% ;
}

.faqmodule .item {
	display: block;
	border:1px solid #eeeeee;
	margin-left:25px;
	padding:0px 5px 0px 5px;
{*	margin:5px 0; *}
}

.faqmodule .item .bodycopy {

}

.faqmodule .item h2 {
	margin:0;
}

.faqmodule .item .listingimage {
	float:left;
	margin-right:10px;
{*	border:1px solid #444; *}
}

.faqmodule .item .listingimage-right {
	float:right;
	margin-left:10px;
{*	border:1px solid #444; *}
}

.faqmodule .item a {
	clear: both;
}

.faqmodule span.name  {
	display: block;
	width:100% ;
	color:#996666;
	font-size:13px;
	font-weight:bold;
}

.faqmodule .moduleactions  {
	clear:both;
	display: block;
	width:100% ;
}

.faqmodule.viewlisting .bodycopy img.listingimage  {
	margin-right:10px;
	float:left;
{*	border:1px solid #666666; *}
}
