/* navigation */

#sidebar .navigationmodule.children-only ul li {
	list-style: none;
	padding: 4px 0 4px 5px;
	margin: 0 2px;	
	color: #777;	
}

#sidebar .navigationmodule.children-only ul {
	list-style: none;
	text-align: left;
	margin: 7px 10px 8px 0; padding: 0;
	text-decoration: none;	
	border-top: 1px solid #A9D4EF;	
}
#sidebar .navigationmodule.children-only ul li {
	list-style: none;
	padding: 4px 0 4px 5px;
	margin: 0 2px;	
	color: #777;	
	border-bottom: 1px solid #D2E8F7; 
}
* html body #sidebar .navigationmodule.children-only ul li {
	height: 1%;
}
#sidebar .navigationmodule.children-only ul li a {
	text-decoration: none;	
	color: #1773BC;				
}
#sidebar .navigationmodule.children-only ul li a:hover {	
	color: #333;
}
#sidebar .navigationmodule.children-only ul ul { margin: 0 0 0 5px; padding: 0; }
#sidebar .navigationmodule.children-only ul ul li { border: none; }





/*YUI menubar*/
#menu #flyoutmenu{
	margin-left:5px;
}
#menu {
	clear: both;	
	background: #81C524 url(../images/../images/menu.jpg) no-repeat;	
	height: 40px;
	width: 790px;
	position:relative;

}
.yuimenubar{visibility:visible;position:static;}
.yuimenu .yuimenu,.yuimenubar .yuimenu{visibility:hidden;position:absolute;top:-10000px;left:-10000px;}
.yuimenubar li,.yuimenu li{list-style-type:none;}
.yuimenubar ul,.yuimenu ul,.yuimenubar li,.yuimenu li,.yuimenu h6,.yuimenubar h6{margin:0;padding:0;}
.yuimenuitemlabel,.yuimenubaritemlabel{text-align:left;white-space:nowrap;}
.yuimenubar ul{*zoom:1;}
.yuimenubar .yuimenu ul{*zoom:normal;}
.yuimenubar>.bd>ul:after{content:".";display:block;clear:both;visibility:hidden;height:0;line-height:0;}
.yuimenubaritem{float:left;}
.yuimenubaritemlabel,.yuimenuitemlabel{display:block;}
.yuimenuitemlabel .helptext{font-style:normal;display:block;margin:-1em 0 0 10em;}
.yui-menu-shadow{position:absolute;visibility:hidden;z-index:-1;}
#menu .yui-menu-shadow-visible{top:2px;right:-3px;left:-3px;bottom:-3px;visibility:visible;}
.hide-scrollbars *{overflow:hidden;}
.hide-scrollbars select{display:none;}
.yuimenu.show-scrollbars,.yuimenubar.show-scrollbars{overflow:visible;}
.yuimenu.hide-scrollbars .yui-menu-shadow,.yuimenubar.hide-scrollbars .yui-menu-shadow{overflow:hidden;}
.yuimenu.show-scrollbars .yui-menu-shadow,.yuimenubar.show-scrollbars .yui-menu-shadow{overflow:auto;}
#menu .yuimenubar{font-size:93%;line-height:2;*line-height:1.9;}
#menu .yuimenubarnav .yuimenubaritem{border-right:solid 1px #ccc;}
#menu .yuimenubaritemlabel{font: bold 16px/40px "trebuchet MS", Arial, Tahoma, Sans-serif;padding:0 10px;color:#fff;text-decoration:none;cursor:default;*position:relative;margin:-1px 0;height:40px;}
#menu .yuimenubarnav .yuimenubaritemlabel{padding-right:20px;*display:inline-block;}
#menu .yuimenubarnav .yuimenubaritemlabel-hassubmenu{background:url(../images/menubaritem_submenuindicator.png) right center no-repeat;}
#menu .yuimenubaritem-selected{background:url(../images/sprite.png) repeat-x 0 -1700px;color:#3b5e0b;}
#menu .yuimenubaritemlabel-selected{border-color:#3b5e0b;}
#menu .yuimenubarnav .yuimenubaritemlabel-selected{border-left-width:1px;color:#3b5e0b;}
#menu .yuimenubaritemlabel-disabled{cursor:default;color:#A6A6A6;}
#menu .yuimenubarnav .yuimenubaritemlabel-hassubmenu-disabled{background-image:url(../images/menubaritem_submenuindicator_disabled.png);}
#menu .yuimenu{font-size:93%;line-height:1.5;*line-height:1.45;}
#menu .yuimenubar .yuimenu,#menu .yuimenu .yuimenu{font-size:100%;}
#menu .yuimenu .bd{border:solid 1px #80c325;background-color:#2769c7;}
#menu .yuimenu ul{padding:3px 0;border-width:1px 0 0 0;border-color:#ccc;border-style:solid;}
#menu .yuimenu ul.first-of-type{border-width:0;}
#menu .yuimenu h6{font-weight:bold;border-style:solid;border-color:#ccc;border-width:1px 0 0 0;color:#a4a4a4;padding:3px 10px 0 10px;}
#menu .yuimenu ul.hastitle,#menu .yuimenu h6.first-of-type{border-width:0;}
#menu .yuimenu .yui-menu-body-scrolled{border-color:#ccc #808080;overflow:hidden;}
#menu .yuimenu .topscrollbar,#menu .yuimenu .bottomscrollbar{height:16px;border:solid 1px #808080;background:#fff url(../images/sprite.png) no-repeat 0 0;}
#menu .yuimenu .topscrollbar{border-bottom-width:0;background-position:center -950px;}
#menu .yuimenu .topscrollbar_disabled{background-position:center -975px;}
#menu .yuimenu .bottomscrollbar{border-top-width:0;background-position:center -850px;}
#menu .yuimenu .bottomscrollbar_disabled{background-position:center -875px;}
#menu .yuimenuitem{_border-bottom:solid 1px #fff;}
#menu .yuimenuitemlabel{padding:0 20px;color:#fff;text-decoration:none;cursor:pointer;font-size:130%;}
#menu .yuimenuitemlabel .helptext{margin-top:-1.5em;*margin-top:-1.45em;}
#menu .yuimenuitem-hassubmenu{background-image:url(../images/menuitem_submenuindicator.png);background-position:right center;background-repeat:no-repeat;}
#menu .yuimenuitem-checked{background-image:url(../images/menuitem_checkbox.png);background-position:left center;background-repeat:no-repeat;}
#menu .yui-menu-shadow-visible{background-color:#050;opacity:.12;*filter:alpha(opacity=12);}
#menu .yuimenuitem-selected{background-color:#B3D4FF;}
#menu .yuimenuitemlabel-selected{color:#333;}
#menu .yuimenuitemlabel-disabled{cursor:default;color:#A6A6A6;}
#menu .yuimenuitem-hassubmenu-disabled{background-image:url(../images/menuitem_submenuindicator_disabled.png);}
#menu .yuimenuitem-checked-disabled{background-image:url(../images/menuitem_checkbox_disabled.png);}