

#sidebar .newsmodule h2 {
	margin: 0px 5px 0px 5px;
}
.date {
	font-size:90%;
	color:#cccccc;
	font-style:italic;
}
#sidebar .date {
	font-size:90%;
	color:#cccccc;
	font-style:italic;
	margin: 0px 5px 0px 5px;
}

