body {
	margin: 5px;
	padding: 0px;
	background-color: #CBB061;
}

.navlink {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: 993300;
	text-decoration: none;
}
a.navlink:link {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: 993300;
	text-decoration: none;
}
a.navlink:visited {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #993300;
	text-decoration: none;
}
a.navlink:hover {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #666633;
	text-decoration: none;
}
a.navlink:active {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #993300;
	text-decoration: none;
}

a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	color: #666;
	text-decoration: none;
}
a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #666;
	text-decoration: none;
}
a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	/*color: #D3C1AA;*/
	color: #666;
	text-decoration: underline;
}
a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #666;
	text-decoration: none;
}
.bodytext, body, td, div, span {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666633;
	text-decoration: none;

}
.sectiontitle {
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-transform: none;
	color: #666633;
	text-decoration: none;

}
.caption {
	font-family: "Times New Roman", Times, serif;
	font-size: 10px;
	font-style: italic;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #666633;
	text-decoration: none;

}
.footer {
	font-family: "Times New Roman", Times, serif;
	font-size: 11px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #663;
	text-decoration: none;
}


/* Container Styles */
div.container_box {
	padding: 6px;
	margin: 2px;
}

div.container_editbox {
	border: 2px dashed #ccc;
	margin: 2px;
}

div.container_editheader {
	padding: 3px;
	background-color: #ccc;
}

div.container_editheader table tr td.info {
	font-size: 8pt;
	font-weight: bold;
}

div.itemtitle {
	font-size: 14px;
	font-family: Arial, Verdana;
	color: #663;
}

div.fullitem div.itemtitle {
	font-size: 16px;
	font-weight: bold;
	font-family: Arial, Verdana;
	color: #663;
}

div.itembody {
	margin-top: 5px;
	margin-bottom: 5px;
	
	border-top: 1px dashed #663;
	border-bottom: 1px dashed #663;
	
	padding-top: 5px;
	padding-bottom: 5px;
}