.breadcrumb {
/* the main <div> for the breadcrumb */
	float:left;
	padding:3px 0 3px 0;
	display:table;
	width:583px;
	
}

.fullbody .breadcrumb {
/* the main <div> for the breadcrumb */
	float:left;
	padding:3px 0 3px 0;
	display:table;
	width:100%;
	clear:both;
	
}

.breadcrumb h2 {
	display:inline;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#999999;
	margin:0 5px 0 0;
}

