.forumlink {
	background:url(../images/checkout_forum.jpg)  0px 0px no-repeat;
	width:196px;
	height:76px;
	margin:5px 0 0 0;
}

.forumlink a {
	display:block;
	width:196px;
	height:76px;
}

.forumlink a span {
	display:none;
}