/* CSS Document */
.getexp  {
	background:#ffffff url(../images/get_exponent.jpg) no-repeat 100% 0;
	width:195px;
	height:140px;
	float:right;
	margin:0 0 0 0;
}

.getexp a {
	display:block;
	width:195px;
	height:140px;
}

.getexp a span{
	display:none;
}

.contentmanagement {
	background:url(../images/headerImageRep.gif);
}

