.news h1{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:18px;
	color:#474747;
	border-bottom:1px dashed #474747;
	font-weight:normal;
	margin:0 0 5px 0;
}

.news h2{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:14px;
	color:#a6c81f;
}

.news .date{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color:#6b6360;
}

.news p{
	margin:5px 0 10px 0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
}