.greenposty {
	width:100%;
	display:table;
	margin:5px 0 5px 0;
	background:url(../images/greenposty_rep.jpg) 0 5px repeat-y;
	line-height:12px;
	padding:0 0 0 0;
}


.greenposty .boxtop{
	background:url(../images/greenposty_top.jpg) no-repeat;
	height:10px;
	margin-top:-3px 0 0 0;
	padding:0;
}


.greenposty h2{
	margin:0 8px 3px 10px;
	font-size:15px;
	color:#458ea5;
}

.greenposty p{
	margin:0 8px 5px 10px;
	font-size:10px;
}

.greenposty a{
	font-size:10px;
}

.greenposty .boxbottom{
	background:url(../images/greenposty_bottom.jpg) no-repeat;
	height:5px;
	margin-top:-3px 0 0 0;
	padding:0;
}



.blueposty {
	width:100%;
	display:table;
	margin:5px 0 5px 0;
	background:url(../images/blueposty_rep.jpg) repeat-y;
	line-height:12px
	
}

.blueposty .boxtop{
	background:url(../images/blueposty_top.jpg) no-repeat;
	height:10px;
	margin-top:-3px 0 0 0;
	padding:0;
}


.blueposty h2{
	margin:0 8px 3px 10px;
	font-size:15px;
	color:#458ea5;
}

.blueposty p{
	margin:0 8px 5px 10px;
	font-size:10px;
}

.blueposty a{
	font-size:10px;
}

.blueposty .boxbottom{
	background:url(../images/blueposty_bottom.jpg) no-repeat;
	height:5px;
	margin-top:-3px 0 0 0;
	padding:0;
}
