.bbmodule a.sticky{
	background:url(../images/icons/sticky16x16.gif) no-repeat;
}
.bbmodule table {
	width:100%;
	border-collapse:collapse; 
}
.bbmodule th {
	padding:3px;
	white-space:nowrap;
	border:1px solid #555555;
}
.bbmodule td {
	border:1px solid grey;
	padding:5px;
}

.bbmodule .moduleactions {
	display:block;
	float:none;
	padding:5px 0 0 0;
}

.bbmodule th {
	background:#669900;
	color:#ffffff;
}

.bbmodule .text {
	padding:1px 5px;
	margin:3px 0 10px 15px;
	border-left:3px solid #669900;
}

.bbmodule .backtoboard {
	padding:2px 15px;
	background:url(../images/icons/arrow_left.gif) 0 50% no-repeat;
}

.bbmodule .bio {
	width:200px;
	border:1px solid #dedede;
	float:right;
	text-align:right;
	padding:6px;
	margin:4px;
	margin-right:0px;
	background:white;
	position:relative;
}
.bbmodule .bio .signature {
	clear:both;
	float:left;
	text-align:center;
	font-style:italic;
	width:100%;
}
.bbmodule .bio .postcount {
	float:left;
	padding:0 0 0 5px;
}
.bbmodule .quoteandreply {
	clear:both;
}
.bbmodule h2.replies {
	border-bottom:1px solid #999999;
	color: #999999;
	font-weight: bold;
	font-size:110%;
	margin:10px 0px;
}

.bbmodule .reply{
	clear:both;
}

.bbmodule .bio h3 {
	float:left;
	clear:right;
	width:100%;
	text-align:left;
	font-size:130%;
	font-weight:bold;
	color:#cc4d00;
}
.bbmodule .avatar {
	float:left;
}
.bbmodule .reply {
	padding-left:10px;
	padding-bottom:10px;
}
.bbmodule .reply h2 {
	padding-top:10px;
}
.bbmodule .reply .author {
	padding-top:10px;
}
.bbmodule .reply .quote {
	margin:10px;
	padding:0px 10px;
	color:#555555;
	border-left:3px solid #888888;
}





