.core {
	background:url(../images/join_core.jpg)  0px 0px no-repeat;
	width:196px;
	height:142px;
	margin:5px 0 0 0;
}

.core a {
	display:block;
	width:196px;
	height:142px;
}

.core a span {
	display:none;
}