/* CSS Document */

.edit p.description {
	color:#666666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:10px;
}

.edit .actions {
	border:1px solid #FF9900;
	padding:3px;
	margin:3px;
	background:#FEF0D6;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
}

.edit .odd_row{
	background:#FEF2CF;
}

.edit .even_row{
	background:#FCDE83;
}

