.whosonline {
	margin:5px 0 5px 0;
	background:url(../images/sidebox_rep.gif);
}

.whosonline .boxtop {
	background:url(../images/whosonline.jpg);
	height:76px;
}

.whosonline .boxbottom {
	background: url(../images/sidebox_bottom.gif) no-repeat;
	height:6px;
	font-size:0px;
}

.whosonline ul {
	list-style:none;
	margin:0 0 -5px 0;
	padding:0 0 10px 45px;
}

.whosonline ul li {
	list-style:url(../images/arrowsub3.gif);
	padding:0;
	margin:0;
}