@import url(../../../tmp/css/exp-styles-min.css);

html,body {
	background-image: none;
	background-color: #FFFFFF;
	text-align: left;
}

ul li{
        list-style:none;
        padding:0 0 0 10px;
        margin:3px 0;
        background:url(/themes/peoriatheme/images/bullet-grey.gif) no-repeat 0 3px;
}
