/** Administration Module Manager form **/
.administration_modmgrheader {
        background-color: lightgrey;
}

.administration_modmgrheader span.active {
        color: green;
        font-weight: bold;
}

.administration_modmgrheader span.inactive {
        color: red;
        font-weight: bold;
}

.administration_modmgrbody {
        padding-left: 10px;
        border: 1px solid lightgrey;
}

/** Admin Control quick-links Styles  **/
.administrationmodule.default {
	width: 100%;
}

.administrationmodule.default .category-box {
	width: 100%;
	/*text-align: center;*/
}

.administrationmodule.default .category {
	width: 33%;
	display: inline;
	float: left;
	height: 175px;
    min-height: 175px;
}

.administrationmodule.default h4 {
}


#expadminquick-links .container-close {
	background:url(../../images/icons/exp1icons.png) 100% -575px no-repeat;
	margin:0 -5px 0 0;
}
#expadminquick-links.closed .container-close {
	background:url(../../images/icons/exp1icons.png) 100% -597px no-repeat;
	margin:0 -10px 5px 0;
}
#expadminquick-links.closed {
	border:1px dotted #444;
	border-width:0 1px 1px 0;
}
#expadminquick-links.closed .hd {
	background:none;
}

.administrationmodule.quicklinks {
	border-width:0 1px;
	margin-bottom:10px;
}

.administrationmodule.quicklinks a {
	display: block;
	font-size: 95%;
	color: #555;
	font-weight:bold;
	padding:3px 0 0 25px;
	font-family:"Trebuchet MS",arial;
	border-bottom:1px dotted #999999;
	border-right:1px dotted #999999;
	border-left:1px dotted #efefef;
	border-top:1px dotted #efefef;
	background-color:#dedfde;
	text-decoration: none;
	text-transform:uppercase;
	min-height:18px;
	*height:18px;
	background-position:3px 50%;
	margin:1px;
}
.administrationmodule.quicklinks a:hover {
	border-left:1px dotted #999;
	border-top:1px dotted #999;
	text-decoration: none;
	background-color:#cdcddd;
	color: #333333;
	
}
.administrationmodule.quicklinks .hd {
	text-align:left;
	border-top:1px solid #888;
}
.administrationmodule.quicklinks .bd {
	border-left:1px dotted #777;
	border-width:1px 0 0 0;
	padding:0;
	background:#999;
}

.administrationmodule.quicklinks a.preview {
	background-image:url(../../images/icons/view.png);
    background-repeat:no-repeat;
}
.administrationmodule.quicklinks a.edit {
	background-image:url(../../images/icons/edit.png);
    background-repeat:no-repeat;
}
.administrationmodule.quicklinks a.sitetree {
    background-image:url(../../images/icons/sitetree.png);
    background-repeat:no-repeat;
}
.administrationmodule.quicklinks a.editprofile {
    background-image:url(../../images/icons/edit-profile.png);
    background-repeat:no-repeat;
}
.administrationmodule.quicklinks a.changepassword {
    background-image:url(../../images/icons/lock.png);
    background-repeat:no-repeat;
}
.administrationmodule.quicklinks a.clicktoaddmodule {
	background-image:url(../../images/icons/exp1icons.png);
	background-repeat: no-repeat;
	background-position: 3px -468px; 
}
.administrationmodule.quicklinks a.files {
	background-image:url(../../images/icons/mimetypes/pdf.png);
    background-repeat:no-repeat;
}
.administrationmodule.quicklinks a.admin {
	background-image:url(../../images/icons/site-admin.png);
    	background-repeat:no-repeat;
}
.administrationmodule.quicklinks a.recycle {
	background-image:url(../../images/icons/recycle-bin-small.png);
    	background-repeat:no-repeat;
}
.administrationmodule.quicklinks a.logout  {
	background-image:url(../../images/icons/logout.png);
    background-repeat:no-repeat;
}
.administrationmodule.quicklinks h1 {
	font-size: 136%;
	padding:0;
}

.administrationmodule.default h4 {
	font-size: 107%;
	padding: 17px 0px 17px 48px;
	background-repeat: no-repeat;
}

.administrationmodule.default ul.task {
	font-size: 9px;
	margin-left: 15px;
	margin-bottom: 20px;
	padding: 0;
}


.administrationmodule.orphanedcontent h1 {
	background-image: url(../../images/icons/recycle-bin.png);
	background-repeat: no-repeat;
	padding: 20px 0px 0px 60px;
	height: 50px;
}

.administrationmodule.usermanager .form_header a {
	padding: 4px 0px 0px 20px;
	background-image:url(../../images/icons/edit-profile.png);
    	background-repeat:no-repeat;	
}
