/* Container Styles */

div.containermodule{
	border:1px solid #777777;
	clear:both;
	padding:0px;
}

div.containermodule .container_editheader{
	clear:both;
}


div.containermodule span.modtype{
	font-size:9px;
	font-family:verdana;
	color:#111111;
	line-height:10px;
	margin:4px 0 0 5px;
	display:block;
	position:absolute;
	background-image:url(../../images/icons/exp1icons.png);  
	_background-image:url(../../images/icons/exp1icons.gif);  
	background-position:0 -390px; 
	background-repeat:no-repeat;
	padding:0 0 5px 22px;
}

div.containermodule.edit{
	border:0px solid #777777;
	clear:both;
	padding:1px;
}

.container_modulewrapper{
	border:1px solid #999999;
	clear:both;
}

.container_moduleheader ,
.container_editheader{
	background-image:url(../../images/icons/exp1icons.png);  
	_background-image:url(../../images/icons/exp1icons.gif);  
	background-position:0 -307px; 
	height:33px;
}



.container_moduleheader .perms,
.container_editheader .perms{
	width:20px;
	float:right;
}

div.container_box {
	padding: 0px;
	margin: 0px;
}

.container_moduleheader {
	background-position:0 -266px;
}



a.addmodule img{
	margin:3px 0 0 0;
}
a.addmodule span.addtext{
	
	vertical-align:middle;
	padding:0 0 0 20px;
	background:url("../../images/icons/add.png") no-repeat;
}
a.addmodule{
	display:block;

	clear:both;
	margin:2px 0px;
	padding:5px 0;
	float:left;
	width:100%;
	text-align:center;
	text-decoration:none;
	color:blue;
}
a.addmodule:hover{
	display:block;
	background:#333;
	clear:both;
	margin:2px 0px;
	float:left;
	width:100%;
	text-align:center;
	text-decoration:none;
	color:white;
}

body .containermenu {
	width:30px;
	float:right;
	position:relative;
	z-index:50;
}

body .containermenu .yuimenuitem{margin:0 0 0 0;_border:0px solid #f5eacd;}

body .containermenu ul li{
	padding:0;
	background-image:none;
}
body .containermenu ul li a{
	padding:0;
	background-image:none;
}

body .containermenu .yuimenuitem-selected{
	background-color:#2c4055;
}

body .containermenu .trigger{
	background-color:transparent;
	border:none;
}

body .containermenu a {
	text-decoration:none;
}

body .containermenu.yuimenu .bd.trigger {
	border:none;
	background:none;`
}

body .containermenu.yuimenu .bd.trigger .yuimenu li a.yuimenuitemlabel {
	font-family:Trebuchet MS, Verdana;
	font-size:14px;
	font-weight:bold;
}

body .containermenu .yuimenuitem-hassubmenu{
	background-color:transparent;
	background-image:url(../../images/icons/exp1icons.png);  
	_background-image:url(../../images/icons/exp1icons.gif);  
	background-position:5px -418px; 
	background-repeat:no-repeat;
	height:22px;
	padding:0;
	margin:2px 0 0 0;
}
body .containermenu .yuimenuitem-hassubmenu-selected{
	background-color:transparent;
	background-image:url(../../images/icons/exp1icons.png);  
	_background-image:url(../../images/icons/exp1icons.gif);  
	background-position:5px -447px; 
	height:22px;
	padding:0;
	margin:2px 0 0 0;
}
body .containermenu .yuimenuitemlabel{
	color:#333333;
}
body .containermenu .yuimenuitemlabel-selected{
	color:#ffffff;
}
body .containermenu .trigger .yuimenu .bd{
	background-color:#b8d3d4;
	width:150px;
	border:1px solid #333333;
}
body .containermenu .trigger .yuimenu .bd .yuimenu .yuimenuitem{
	background-image:none;
}
body .containermenu .trigger .yuimenu .bd .yuimenu .yuimenuitem a{
	background-image:none;
}
body .containermenu .trigger .yuimenu .yuimenuitem .yuimenuitemlabel {
    background-image:url(../../images/icons/exp1icons.png);  
	_background-image:url(../../images/icons/exp1icons.gif);  
 	background-repeat:no-repeat;
	padding:3px 0 3px 20px;
}
body .containermenu .trigger .yuimenu .yuimenuitem .yuimenuitemlabel-selected {
    color:#ffffff;
}


.trigger .yuimenu li.userperms a {
    background-position:0px -8px;
	display:block;	
}
.trigger .yuimenu li.groupperms a {
    background-position:0px -38px;
	display:block;	
}

.trigger .yuimenu li.rankup a {
    background-position:0px -159px; 
}
.trigger .yuimenu li.rankdown a { 
    background-position:0px -128px;
}
.trigger .yuimenu li.userperms a {
    background-position:0px -8px;
	display:block;	
}
.trigger .yuimenu li.groupperms a {
    background-position:0px -36px;
	display:block;	
}
.trigger .yuimenu li.configview a {
    background-position:0px -100px;
	display:block;	
}
.trigger .yuimenu li.configsettings a {
    background-position:0px -360px;
	display:block;	
}
.trigger .yuimenu li.deletemod a {
    background-position:0px -70px ;
	display:block;	
}





