.form_header h1 {
	margin:0;
}
.form_header p {
	font-style:italic;
	border-left:3px solid #53708e;
	padding:0 0 0 10px;
	margin:10px 0 10px 10px;
}
.form_header p .managemodules {
	font-family:Trebuchet MS;
	padding:3px 0 2px 15px;
	background:url(../../images/icons/admin/managemodules.png) no-repeat 0 50%;
}
#moduleControl {
	width:43%;
	float:left;
	margin-right:20px;
}


/* control (wrapers for input and other form fields) and label styles */

.control {
	border:1px dotted #cccccc;
	display:block;
	margin:0 0 5px 0;
	padding:5px;
}
.control legend {
	background:#ffffff;
	color:#53708e;
	font-family:Trebuchet MS;
	font-size:1.1em;
	font-weight:bold;
	padding:0px 3px;
}
.control .label {
	font-size:14px;
	font-family:Trebuchet MS;
	color:#724e4e;
	font-weight:bold;
	text-transform:uppercase;
	display:block;
}

.control .checkboxlabel {
	font-size:12px;
	font-family:Trebuchet MS;
	color:#444444;
	font-weight:bold;
}
.control .label a {
	font-family:Trebuchet MS;
	color:#883333;
}

/* input styles */

input.button { 
	font: bold 12px Arial, Sans-serif; 
	height: 28px;
	margin: 0;
	padding: 2px 3px; 
	color: #fff;
	background: #306bc1 url(../../images/button-bg.jpg) repeat-x 0 0; 
	border: 1px solid #306bc1;
	margin-right:3px;
}

input.radiobutton {
	float:left;
	margin-right:5px;
}

input.text {
	padding:3px;
	border: 1px solid #4289d7; 
	font: normal 1em Verdana, sans-serif;
	color:#777;	
}
input.select {
	border: 1px solid #4289d7; 
	font: normal 1em Verdana, sans-serif;
	color:#777;	
}
.textarea {
	font: normal 1em Verdana, sans-serif;
	border: 1px solid #4289d7; 
	color:#777;
}




/* Specific to Add Module page */
#contentsourcecontrol label{
	margin-bottom:5px;
	display:block;
}

.radiobuttoncontrol {
	float:left;
	margin-right:5px;
}









