.form_header h1 {
	margin:0;
}
.form_header p {
	font-style:italic;
	border-left:3px solid #53708e;
	padding:0 0 0 10px;
	margin:10px 0 10px 10px;
}
.form_header p .managemodules {
	font-family:"Trebuchet MS";
	padding:3px 0 2px 15px;
	background:url(../../images/icons/admin/managemodules.png) no-repeat 0 50%;
}
#moduleControl {
	width:43%;
	float:left;
	margin-right:20px;
}


/* control (wrapers for input and other form fields) and label styles */

.control {
	display:block;
	margin:0 0 5px 0;
	padding:5px;
}
.control legend {
	background:#ffffff;
	font-size:1.1em;
	font-weight:bold;
	padding:0px 3px;
}
.control .label {
	font-weight:bold;
	text-transform:uppercase;
	display:block;
}

.control .checkboxlabel {
	font-family:"Trebuchet MS";
	color:#444444;
	font-weight:bold;
	margin-left:5px;
}
.control.flipped .checkbox {
	margin-left:5px;
}
.control.flipped .checkboxlabel {
	margin-left:0px;
}
.control .label a {
	font-family:"Trebuchet MS";
	color:#883333;
}

/* input styles */
button,
input.button { 
	margin: 0;
	padding: 2px 3px; 
	background-image:url(../../images/icons/exp1icons.png);  
	_background-image:url(../../images/icons/exp1icons.gif);  
	background-repeat:repeat-x;  
	background-position: 0px -600px; 
	margin-right:3px;
	font-weight:bold;
	color:#555;
}

input.radiobutton {
	float:left;
	margin-right:5px;
}

.button,
input.text,
input.select,
.textarea {
	border:1px solid #555;
}

input.text,
input.select,
.textarea {
	padding:3px;
}




/* Specific to Add Module page */
#contentsourcecontrol label{
	margin-bottom:5px;
	display:block;
}

.radiobuttoncontrol {
	float:left;
	margin-right:5px;
}









