.error {
        font-weight: bold;
        color: #ff0000;
}

ul.queue {
        width: 85%;
        padding: 10px 10px 10px 20px;
        margin-top: 5px;
        margin-bottom: 15px;
        background: #f1a5a5;
        background-image: none;
        border: 2px solid #ff0000;
        color: #ff0000;
        font-weight: bold;
}

ul.queue li {
        list-style: none;
}

ul.queue.error {
}

ul.queue.message {

        background: #c6f6c6;
        border: 2px solid #2e6b2e;
        color: #2e6b2e;
}
