a {
	color: #457196;
	text-decoration: none;
}

a.navigation {
	font-weight: bold;
}

body, div, span, td {
	font-family:Arial;
	font-size:10px;
	color:#747474;
}

.cap {
	font-weight:bold;
	font-size:11px;
	padding-left:30px;
	padding-right:30px;
	padding-top:7px;
}

.left {
	font-weight:bold;
	font-size:10px;
	padding-left:30px;
	padding-right:30px;
	padding-top:5px;
}

.footer {
	font-weight:bold;
	color:#FF2A00;
	text-decoration:none;
}

input {
	border-width: 1px;
}

div.moduletitle {
	font-weight: bold;
	font-size: 1.25em;
}
/* Error Message Style */
div.error {
	font-weight: bold;
	color: #F00;
	padding-bottom: 1em;
}


/* Container Styles */
div.container_box {
	padding: 6px;
	margin: 2px;
}

div.container_editbox {
	border: 2px dashed #CCC;
	margin: 2px;
}

div.container_editheader {
	padding: 3px;
	background-color: #ccc;
}

div.container_editheader table tr td.info {
	font-size: 8pt;
	font-weight: bold;
}


div.itemtitle {
	font-family: Arial, Verdana;
	font-weight: bold;
}

/* popup date / time control */
span.datefield {
	
}

span.datefield_disabled {
	color: #DDD;
	font-style: italic;
	text-decoration: line-through;
}

/* Weblog styles */
div.weblog_comment {
	margin: 3px;
	margin-bottom: 1em;
	border: 1px dashed #DDD;
}

div.weblog_comment_title {
	font-size: 10px;
	font-weight: bold;
	background-color: #DDD;
	padding: 2px;
}

div.weblog_comment_attribution {
	font-size: 10px;
	font-style: italic;
	padding: 5px;
}

div.weblog_comment_body {
	font-size: 10px;
	padding: 5px;
}

/* Workflow */
div.workflow_action {
	border: 1px solid #DDD;
	margin-bottom: 1em;
}

div.workflow_inapproval {
	margin-left: 35px;
}

div.workflow_approved {
	border: 2px solid #030;
	background-color: #DDD;
}

div.workflow_action_restored {
	border: 2px dashed #030;
	background-color: #FFF;
}

div.workflow_action_posted {
	border: 2px solid black;
}


td.header, td.header a {
	background-color: #aaa;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	padding: 2px;
}

/* Themable Forms */
div.form_title {
	font-size: 14px;
	font-weight: bold;
}

div.form_header {
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	margin-bottom: 1em;
}

tr.even_row {
	background-color: #DDD;
}

tr.row:hover td, tr.row:hover td a {
	background-color: #666;
	color: #fff;
}

tr.odd_row {
	
}

/** Administration Module Manager form **/
.administration_modmgrheader {
	background-color: lightgrey;
}

.administration_modmgrheader span.active {
	color: green;
	font-weight: bold;
}

.administration_modmgrheader span.inactive {
	color: red;
	font-weight: bold;
}

.administration_modmgrbody {
	padding-left: 10px;
	border: 1px solid lightgrey;
}

/** Debugger Styles **/
table.debug_null,table.debug_null tr td, div.debug_null {
	background-color: #000;
	color: #fff;
	font-weight: bold;
}

table.debug_object, table.debug_object tr td {
	background-color: #a00;
	color: #fff;
}

table.debug_array, table.debug_array tr td {
	background-color: #0a0;
	color: #fff;
}

table.debug_scalar, table.debug_scalar tr td, div.debug_scalar {
	background-color: #00a;
	color: #fff;
}

td.debug_attribute {
	font-family: monospace;
	font-size: 10px;
}

td.debug_varname {
	font-weight: bold;
}

td.debug_type {
	background-color: #aaa;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}

td.debug_value {
	font-family: monospace;
	font-size: 11px;
	color: #fff;
}